parameters:
  level: 9
  paths:
    - public
    - src
    - tests
  tmpDir: var/cache/phpstan
  symfony:
    containerXmlPath: var/cache/test/LogAggregator_Application_Symfony_KernelTestDebugContainer.xml