<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnIncomplete="true"
         failOnRisky="true"
         failOnSkipped="true"
         failOnEmptyTestSuite="true"
         bootstrap="tests/Assets/bootstrap.php"
         colors="true"
         requireCoverageMetadata="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         cacheDirectory="var/cache/">
    <testsuites>
        <testsuite name="Functional">
            <directory>./tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="2G"/>
        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_SECRET" value="753739f7d8963e84708d1607679b03f6"/>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="1"/>
        <ini name="display_startup_errors" value="On" />
        <env name="APP_ENV" value="test" force="true"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="2"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
        <!-- ###- symfony/framework-bundle ### -->
    </php>
    <coverage pathCoverage="true"/>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
        </exclude>
    </source>
</phpunit>
